{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventterm</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eventTerm.id }}</td>
            </tr>
            <tr>
                <th>Event</th>
                <td>{{ eventTerm.event }}</td>
            </tr>
            <tr>
                <th>Term</th>
                <td>{% if eventTerm.term %}{{ eventTerm.term|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Termscore</th>
                <td>{{ eventTerm.termScore }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventterm_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('eventterm_edit', { 'id': eventTerm.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
