{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Venue</th>
                <td>{{ event.venue }}</td>
            </tr>
            <tr>
                <th>Eventterm</th>
                <td>{% if event.eventTerm %}{{ event.eventTerm|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Event's term candidates</th>
                <td><ul>
                        {% for term in event.candidateTerms %}
                            <li>{{ term }}</li>
                        {% endfor %}
                    </ul></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
